<p id="notice"><%= notice %></p>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Company Name</th>
      <th>Price</th>
      <th>Market Cap</th>
      <th colspan="2">Options</th>
    </tr>
  </thead>

  <tbody>
    <% current_user.stocks.each do |stock| %>
      <%@api = StockQuote::Stock.new(api_key: 'sk_3e37f43ac77b4548a61e1b623b0478dc' )%>
      <% if stock.ticker %>
        <% begin %>
          <% @ticker = StockQuote::Stock.quote(stock.ticker)%>
        <% rescue %>
          <% @ticker = nil %>
        <% end %>
        <% if !@ticker %>
          <% @error = "Hey, that symbol doesn't seem to exist!" %>
        <% end %>
      <% end %>

      <% if @ticker %>
        <tr >
          <td><%= link_to @ticker.company_name, stock %> (<%= @ticker.symbol%>)</td>
          <td>$<%= number_with_precision(@ticker.latest_price, :precision => 2, :delimiter => ',') %> (<%= '+' if (@ticker.change > 0)%><%=@ticker.change%>)</td>
          <td>$<%= number_with_precision(@ticker.market_cap, :precision => 2, :delimiter => ',') %></td>
          <td style="text-align: center; display: flex; justify-content: space-around;">
            <%= link_to 'Edit', edit_stock_path(stock), class: 'btn btn-secondary' %>
            <%= link_to 'Delete', stock, method: :delete, class:'btn btn-secondary', data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% else %>
        <td><%= stock.ticker%></td>
        <td><%= @error%></td>
        <td>Please Delete!</td>
        <td style="text-align: center; display: flex; justify-content: space-around;">
          <%= link_to 'Edit', edit_stock_path(stock), class: 'btn btn-secondary' %>
          <%= link_to 'Delete', stock, method: :delete, class:'btn btn-secondary', data: { confirm: 'Are you sure?' } %>
        </td>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock', new_stock_path %>
