<h1>Stock Around The Clock</h1>
<p>Check any stock, any time! Set up a profile to save your favorite stocks.</p>

<%= form_tag root_path, :method => 'POST' do %>
    <%= text_field_tag 'ticker', nil, placeholder: "Enter Ticker Symbol", size: 50 %>
    <%= submit_tag 'Lookup' %>
<% end %>

<% if @stock %>
    <%if @stock %>
        </br><%= @stock.company_name %></br>
        $<%= @stock.latest_price %>
    <%end%>
<% elsif @nothing %>
    </br><%= @nothing %></br>
<%end%>

<% if @error %>
    </br><%= @error %>
<%end%>